* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #555;
    font-family: 'Open sans';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.clearfix {zoom:1}
.clearfix:after {
    content:'.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/pobednik1.jpg);
    background-size: cover;
    background-position: top;
    height: 20vh;
}

.logo{
   
    height: 50px ;
    width: auto;
    float: right;
    margin-top: 35px;
}

.main-nav{
    float: left;
    list-style: none;
    margin-top: 55px;
}


.main-nav li {
    display: inline-block;
    margin-right:  40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0px; 
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: border-bottom 0.2s;
    border-bottom: 2px solid transparent; 
}

.main-nav li a:hover,
.main-nav li a:active{

    border-bottom: 2px solid #329468;
}

.btn:link, 
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: white;
    margin-top: 20px;
    transition: background-color 0.2s,border 0.2s,color 0.2s;
    
}
.btn-full:link,
.btn-full:visited,
input[type=submit] {
    color: fff;
    background: #329468;
    border: 1px solid #329468;
    
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #329468;
    color: #329468;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #329468e3;
    transition: 0.2s; 
    
}

.btn-full:hover,
.btn-full:active{
    
    border: 1px solid #329468;
    
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #329468;
    color: #fff;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text], 
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

*:focus {outline:none;}